._listChars {
  word-break: break-all !important;
  // white-space: pre !important;

  span {
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    cursor: pointer;
    user-select: none;
    // transition: all 500ms;
  }

  span:hover {
    font-weight: 600;
    color: var(--blueColor);
    background-color: var(--greenColor);
  }

  ._char {
    line-height: 4rem;
  }
}
