._background {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--headerColor);
  height: 60px;
  transform: translateY(0px);
  transition: all 500ms;
}

._nav {
  max-width: var(--maxWidth) !important;
  img {
    height: 50px;
  }
}
